<template>
    <div>
        <head-top></head-top>
        <el-row style="margin-top: 20px;">
  			<el-col :span="12" :offset="4">
		        <el-form :model="formData" :rules="rules" ref="formData" label-width="110px" class="demo-formData">
					<el-form-item label="Group" prop="groupId">
						<el-input v-model="formData.groupId"></el-input>
					</el-form-item>
					<el-form-item label="Artifact" prop="artifactId">
						<el-input v-model="formData.artifactId"></el-input>
					</el-form-item>
					<el-form-item label="Boot Version" prop="bootVersion">
                        <el-select v-model="formData.bootVersion">
                            <el-option
                                v-for="item in bootVersionOptions"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
					</el-form-item>
                    <el-form-item label="Language" prop="language">
                        <el-select v-model="formData.language">
                            <el-option
                                v-for="item in languageOptions"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="Build" prop="build">
                        <el-select v-model="formData.build">
                            <el-option
                                v-for="item in buildOptions"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="Packaging" prop="packaging">
                        <el-select v-model="formData.packaging">
                            <el-option
                                v-for="item in packagingOptions"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="Java Version" prop="javaVersion">
                        <el-select v-model="formData.javaVersion">
                            <el-option
                                v-for="item in javaVersionOptions"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
					<el-form-item label="Dependencies" prop="dependencies">
                        <el-input v-model="formData.dependencies" placeholder="Web, Security, JPA, Actuator, Devtools..."></el-input>
                    </el-form-item>

					<el-form-item class="button_submit">
						<el-button type="primary" @click="submitForm('formData')">立即创建</el-button>
					</el-form-item>
				</el-form>
  			</el-col>
  		</el-row>
    </div>
</template>

<script>
    import headTop from '@/components/headTop'
    import {addProject} from '@/api/getData'
    import {baseUrl, baseImgPath} from '@/config/env'
    export default {
    	data(){
    		return {
    			city: {},
    			formData: {
                    artifactId: 'demo',
                    bootVersion: '',
                    build: '',
                    packageName: '',
                    javaVersion: '',
                    name: '',
                    packaging: '',
                    groupId: 'com.example',
                    dependencies: '',
                    version: '',
                    language: '',
                    projectType: 'JAVA_PROJECT',
                    gitRepositoryType:'GITLAB'
		        },
		        rules: {
                    groupId: [
						{ required: true, message: 'Group can not be null!', trigger: 'blur' },
					],
                    artifactId: [
                        { required: true, message: 'Artifact can not be null!', trigger: 'blur' },
                    ],
                    bootVersion: [
                        { required: true, message: 'Boot Version can not be null!', trigger: 'blur' },
                    ],
                    build: [
                        { required: true, message: 'Build can not be null!', trigger: 'blur' },
                    ],
                    packaging: [
                        { required: true, message: 'Packaging can not be null!', trigger: 'blur' },
                    ],
                    language: [
                        { required: true, message: 'Language can not be null!', trigger: 'blur' },
                    ],
                    javaVersion: [
                        { required: true, message: 'Packaging can not be null!', trigger: 'blur' },
                    ]
				},
                bootVersionOptions: [{
                    value: '2.0.0.M5',
                    label: '2.0.0(M5)',
		        }, {
                    value: '2.0.0.BUILD-SNAPSHOT',
                    label: '2.0.0(SNAPSHOT)'
		        }, {
		          	value: '1.5.9.BUILD-SNAPSHOT',
		          	label: '1.5.9(SNAPSHOT)'
		        }, {
		          	value: '1.5.8.RELEASE',
		          	label: '1.5.8'
		        }, {
                    value: '1.4.7.RELEASE',
                    label: '1.4.7'
                }],
                languageOptions: [{
                    value: 'java',
                    label: 'Java'
                }, {
                    value: 'kotlin',
                    label: 'Kotlin'
                }, {
                    value: 'groovy',
                    label: 'Groovy'
                }],
                buildOptions: [{
                    value: 'maven-project',
                    label: 'Maven Project'
                }, {
                    value: 'gradle-project',
                    label: 'Gradle Project'
                }],
                packagingOptions: [{
                    value: 'jar',
                    label: 'Jar'
                }, {
                    value: 'war',
                    label: 'War'
                }],
                javaVersionOptions: [{
                    value: '1.8',
                    label: '1.8'
                }, {
                    value: '1.7',
                    label: '1.7'
                }, {
                    value: '1.6',
                    label: '1.6'
                }],
			    baseUrl,
			    baseImgPath
    		}
    	},
    	components: {
    		headTop,
    	},
    	mounted(){
    		this.initData();
    	},
    	methods: {
    		async initData(){

    		},
		    submitForm(formName) {
				this.$refs[formName].validate(async (valid) => {
					if (!valid) {

                        this.$notify.error({
                            title: '错误',
                            message: '请检查输入是否正确',
                            offset: 100
                        });
                        return false;

					}
                    try{
//                        await addProject(this.formData);
                        this.$http.post(baseUrl+'/projects', JSON.stringify(this.formData),
                                        {headers: {"Content-Type": "application/json"},responseType: 'blob'})
                            .then((response) => {

                                let headers = response.headers;
                                let disposition = headers['content-disposition'];
                                let filename = decodeURI(disposition.match(/filename="(.*)"/)[1]);
                                let blob = new Blob([response.data],{type:headers['content-type']});
                                let link = document.createElement('a');
                                link.href = window.URL.createObjectURL(blob);
                                link.download = filename;
                                link.click();

                                this.$message({
                                    type: 'success',
                                    message: '添加成功'
                                });
                                this.formData = {
                                    artifactId: 'demo',
                                    bootVersion: '',
                                    build: '',
                                    packageName: '',
                                    javaVersion: '',
                                    name: '',
                                    packaging: '',
                                    groupId: 'com.example',
                                    dependencies: '',
                                    version: '',
                                    language: '',
                                    projectType: 'JAVA_PROJECT',
                                    gitRepositoryType:'GITLAB'
                                };

                            }, function(response) {
                                // error
                                this.$message({
                                    type: 'error',
                                    message: result.message
                                });
                            });
                    }catch(err){
                        console.log(err)
                    }
				});
			},
		}
    }
</script>

<style lang="less">
	@import '../style/mixin';
	.button_submit{
		text-align: center;
	}
	.avatar-uploader .el-upload {
	    border: 1px dashed #d9d9d9;
	    border-radius: 6px;
	    cursor: pointer;
	    position: relative;
	    overflow: hidden;
	}
	.avatar-uploader .el-upload:hover {
	    border-color: #20a0ff;
	}
	.avatar-uploader-icon {
	    font-size: 28px;
	    color: #8c939d;
	    width: 120px;
	    height: 120px;
	    line-height: 120px;
	    text-align: center;
	}
	.avatar {
	    width: 120px;
	    height: 120px;
	    display: block;
	}
	.el-table .info-row {
	    background: #c9e5f5;
	}

	.el-table .positive-row {
	    background: #e2f0e4;
	}
</style>
