<template>
    <div class="fillcontain">
        <head-top></head-top>
        <div class="table_container">
            <el-table
                :data="tableData"
                highlight-current-row
                style="width: 100%">
                <el-table-column
                  type="index"
                  width="100">
                </el-table-column>
                <el-table-column
                  property="group"
                  label="Group"
                  width="220">
                </el-table-column>
                <el-table-column
                  property="name"
                  label="Name"
                  width="220">
                </el-table-column>
                <el-table-column
                  property="version"
                  label="Version">
                </el-table-column>
                <el-table-column label="操作" width="200">
                    <template scope="scope">
                        <el-button
                            size="mini"
                        @click="handleDeploy(scope.$index, scope.row)">部署</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="Pagination" style="text-align: left;margin-top: 10px;">
                <el-pagination
                  @size-change="handleSizeChange"
                  @current-change="handleCurrentChange"
                  :current-page="currentPage"
                  :page-size="20"
                  layout="total, prev, pager, next"
                  :total="count">
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
    import headTop from '../components/headTop'
    import {baseUrl, baseImgPath, repositoryUrl} from '@/config/env'
    import {getRepositoriesOfProject} from '@/api/getData'
    export default {
        data(){
            return {
                baseUrl,
                baseImgPath,
                currentRow: null,
                offset: 0,
                limit: 20,
                count: 0,
                currentPage: 1,
                tableData: [],
            }
        },
        created(){
            this.initData();
        },
        components: {
            headTop,
        },
        methods: {
            async initData(){
                try{
                    this.getRepositoriesOfProject();
                }catch(err){
                    console.log('获取数据失败', err);
                }
            },

            async getRepositoriesOfProject(){
                let projec_name = this.$route.params.project_name;
                this.$http.get(repositoryUrl+'/repository').then(({data}) => {
                    data.items.forEach(item => {
                        const tableData = {};
                        tableData.group = item.group;
                        tableData.name = item.name;
                        tableData.version = item.version;
                        this.tableData.push(tableData);
                    });
                });
            },
            async handleDeploy(index, row) {
                try{
                    this.$http.post(repositoryUrl+'/deploy', JSON.stringify(row),
                        {headers: {"Content-Type": "application/json"}})
                        .then((response) => {
                        this.$message({
                        type: 'success',
                        message: '部署成功'
                    });


                }, function(response) {
                        // error
                        this.$message({
                            type: 'error',
                            message: result.message
                        });
                    });
                }catch(err){
                    console.log(err)
                }

            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                this.offset = (val - 1)*this.limit;
                this.getRepositoriesOfProject()
            },
            handleEdit(index, row) {
                this.selectTable = row;
                this.dialogFormVisible = true;
            },
            addFood(index, row){
                this.$router.push({ path: 'addGoods', query: { restaurant_id: row.id }})
            }
        }
    }
</script>

<style lang="less">
	@import '../style/mixin';
    .table_container{
        padding: 20px;
    }
</style>
